/* Social Support Network Map styles */

.worth-ssnm-container {
    display: -webkit-flex;
    display: flex;
}

.worth-ssnm-container .worth-ssnm-box {
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.worth-ssnm-container .worth-ssnm-box .ssnm-title {
    float: left;
    font-weight: bold;
    color: white;
    background-color: #872c2c;
    padding: 4px;
}

.worth-ssnm-container .worth-ssnm-box .ssnm-box-title {
    float: right;
    text-align: right;
    font-weight: bold;
    margin: 6px;
    color: black;
}

.worth-ssnm-container .worth-ssnm-box-very-close {
    background-color: #f3e9ea;
}

.worth-ssnm-container .worth-ssnm-box-close {
    background-color: #cfabac;
}

.worth-ssnm-container .worth-ssnm-box-not-close {
    background-color: #9e5759;
}

.worth-ssnm-my-avatar-box {
    margin: 10px;
    margin-top: 40px;
    text-align: center;
   /*
    border-radius: 10px;
    background-color: white;
    */
   padding: 10px;
}

.ssnm-modal-dialog {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 30px auto;
    width: 600px;
    background-color: #fff;
    border-radius: 4px;
    z-index: 9;
}

.ssnm-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}
.ssnm-modal-header,
.ssnm-modal-body,
.ssnm-modal-footer {
    padding: 15px;
}
.ssnm-modal-header {
    min-height: 16px;
    border-bottom: 1px solid #e5e5e5;
}
.ssnm-modal-body {
    max-height: 320px;
    height: 85%;
    position: relative;
    overflow-y: auto;
}
.ssnm-modal-footer {
    border-top: 1px solid #e5e5e5;
    text-align: right;
}

.ssnm-modal-desc {
    text-align: center;
    font-size: 18px;
}

.ssnm-supporter-box {
    border-radius: 10px;
    background-color: white;
    margin: 10px;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
}

.ssnm-color-positive {
    color: green;
}

.ssnm-color-mostly-positive {
    color: tan;
}

.ssnm-color-mostly-negative {
    color: orange;
}

.ssnm-color-negative {
    color: red;
}