.video-block .worth-video-instructions {
    float: left;
}

.video-block #worth-youtube-video-duration {
     float: right;
}

/* This doesn't occur in the .video-block on myth/fact */
#worth-youtube-video-duration time {
    font-weight: bold;
}