{% load bootstrap %}
{% load avatar %}

<div class="goal-setting">
    <h1>My Goals</h1>

    <h2>Setting {{block.goal_type}} Goals</h2>

    <div class="col-sm-10">
        <form class="form-horizontal" method="post">{% csrf_token %}
            {{ formset.management_form }}

            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {% endif %}

            {% for form in formset %}
            {% if forloop.first %}
            {{ form|bootstrap_horizontal }}
            {% else %}
            {# Manually render the extra goal forms so we can give them #}
            {# the 'Extra' label instead of 'Main'. #}
            <div class="form-group">
                <label class="control-label col-sm-2 col-lg-2">
                    Extra {{block.goal_type}} goal
                </label>
                <div class="col-sm-10 col-lg-10">
                    {{ form.option }}
                </div>
            </div>
            {{ form.text|bootstrap_horizontal }}
            {% endif %}

            {% endfor %}

            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-2 avatar-block">
        <img src="{% avatar_url user %}">
    </div>

    <div class="clearfix"><div>
</div>
