<div class="form-group">
    <label class="col-sm-4 control-label"
           for="goal-{{name}}-{{i}}">
        {{name|capfirst}} {{block.goal_type}} goal</label>
    <div class="col-sm-4">
        <select class="form-control"
                id="goal-{{name}}-{{i}}"
                name="pageblock-{{block.pageblock.pk}}-goal-{{name}}-{{i}}">
            {% for option in block.goaloption_set.all %}
            <option value="{{option.pk}}">{{option.text}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label"
           for="explanation-{{name}}-{{i}}">
        How will you make this happen?</label>
    <div class="col-sm-4">
        <textarea class="form-control" rows="3"
                  id="explanation-{{name}}-{{i}}"
                  name="pageblock-{{block.pageblock.pk}}-explanation-{{name}}-{{i}}"
                  ></textarea>
    </div>
</div>
