<div class="goal-setting">
    <h1>My Goals</h1>

    {% for goalslot in block.goalslot_set.all %}
    <h2>Setting {{goalslot.goal_type}} Goals</h2>

    <div class="form-horizontal">
        {% include 'goals/goal_setting_block_formset.html' with name='main' %}
        {% include 'goals/goal_setting_block_formset.html' with name='extra' %}
        {% include 'goals/goal_setting_block_formset.html' with name='extra' %}

        <div class="form-group">
            <label class="col-sm-4 control-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
