{% load bootstrap %}
{% load avatar %}

<div class="goal-setting" id="goal-setting-block">

    <div class="container">
        <div class="row">

            <div class="col-sm-8">
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    {{ setting_formset.management_form }}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    {% for form in setting_formset %}
                    {% if forloop.first %}
                   <div class="well">
                   <span class="goal-form">
                        {{ form.option|bootstrap_horizontal }}
                        <div class="goal-other-container">
                            {{ form.other_text|bootstrap_horizontal }}
                        </div>
                        <div class="clearfix"></div>
                        {{ form.text|bootstrap_horizontal }}
                    </span>
                    </div>
                    <div class="clearfix"></div>
                    {% else %}
                    {# Manually render the extra goal forms so we can give them #}
                    {# the 'Extra' label instead of 'Main'. #}
                   <div class="well">
                    <span class="goal-form">
                        <div class="form-group">
                            <label class="control-label col-sm-2 col-lg-2">
                                Extra {{block.goal_type}} goal
                            </label>
                            <div class="col-sm-10 col-lg-10">
                                {{ form.option }}
                            </div>
                        </div>
                        <div class="goal-other-container">
                            {{ form.other_text|bootstrap_horizontal }}
                        </div>
                        {{ form.text|bootstrap_horizontal }}
                    </span>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form><!-- end .form-horizontal -->
            </div>

            <div class="col-sm-4 avatar-block text-center">
                <img src="{% avatar_url user %}">
                
<div class="panel panel-default text-left">
  <div class="panel-heading">
    <h3 class="panel-title">Tip</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>               
            </div>

        </div>
    </div>

    <div class="clearfix"></div>

</div>
