{% extends "base.html" %}
{% load i18n %}
{% block title %}&mdash; Account activation complete{% endblock %}

{% block content %}
<h2 class="pagetitle signuptitle">Account activated</h2>
    <p class="lead">Thank you for signing up with E-WORTH.</p>
    <p>
    You will have 90 days to complete E-WORTH. After 90 days your account and data will be automatically deleted from the system.
    Accounts are deleted to ensure your privacy and the security of your data.
    If you wish to return to E-WORTH after 90 days have passed you may sign up again.
    </p>
    <p>You may now login using the username and password you created at registration.</p><br />
    <p><strong><a class="btn btn-primary btn-lg" href='/'>Login</a></strong></p>
{% endblock %}
