{% load bootstrap3 %}

<div class="selftalk-refutation" id="selftalk-refutation-block">
    <p>
        {% if block.pageblock.statement_block.is_internal %}
        Now, get back on the road by replacing that negative
        self talk with positive statements.
        {% else %}
        How would you refute the negative things the Jane said
        about herself?
        {% endif %}
    </p>

    {% bootstrap_form_errors refutation_form %}

    <div class="worth-selftalk-flex-container">
        <div class="refutation-form">
            {% bootstrap_form refutation_form %}
        </div>

        {% include 'selftalk/self_talk_road.html' %}
    </div>
</div>
