{% load bootstrap3 %}

<div class="selftalk-refutation {{ block.css_class }}"
     id="selftalk-refutation-block">
    <p class="lead">
        {% if block.statement_block.is_internal %}
        Now, get back on the road by replacing that negative
        self-talk with positive statements.
        {% else %}
        How would you refute the negative things that
        {{ block.statement_block.subject_name }} said about
        herself?
        {% endif %}
    </p>

    {{ refutation_form.media }}

    {% bootstrap_form_errors refutation_form %}

    <div class="worth-selftalk-flex-container">
        <div class="refutation-form">
            {% bootstrap_form refutation_form %}
        </div>

        {% include 'selftalk/self_talk_road.html' %}
    </div>
</div>
