{% load bootstrap3 %}

<div class="selftalk-statement {{ block.css_class }}"
     id="selftalk-statement-block">
    <p>
        {% if block.is_internal %}
        Imagine some negative things that you might say to yourself
        in the coming week.
        {% else %}
        Do you remember what {{ block.subject_name }} said?
        {% endif %}
    </p>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% endif %}

    {% bootstrap_form_errors statement_form %}

    <div class="worth-selftalk-flex-container">
        <div class="statement-form">
            {% bootstrap_form statement_form %}
        </div>

        {% include 'selftalk/self_talk_road.html' %}
    </div>
</div>
