{% extends "base.html" %}
{% block title %}
   Please Login
{% endblock %}

{% block content %}
<div class="worth-facilitator-login">
    {% if CAS_BASE %}
    <form method="get" action="{{ CAS_BASE }}cas/login">
        {% csrf_token %}
        <input type="hidden" name="destination"
               value="https://{{ request.get_host }}/accounts/caslogin/?next={{ next|urlencode }}" />
        <p>If you have a Columbia University Network ID (UNI)...</p>
        <input class="regbutton" type="submit" value="Columbia Log In" />
    </form>
    {% endif %}

    <p class="smalltxt"><a href="https://cuit.columbia.edu/cuit/manage-my-uni"
                           title="Learn more about UNI" target="_blank"
                           >What is a UNI?</a></p>
    <!-- End UNI LOG IN -->

    <hr class="seperator" />
    <form class="form-horizontal"
          role="form"
          method="post"
          action="/accounts/login/">
        {% csrf_token %}

        <div class="form-group {% if form.username.errors %}has-error{% endif %}">
            <label for="facilitator_id"
                   class="control-label col-sm-3">Facilitator ID</label>
            <div class="col-sm-6">
                <input type="text"
                       class="form-control"
                       id="facilitator_id"
                       name="username"
                       placeholder="Enter your username">
            </div>
        </div>

        <div class="form-group {% if form.password.errors %}has-error{% endif %}">
            <label for="facilitator_password"
                   class="control-label col-sm-3">Facilitator Password</label>
            <div class="col-sm-6">
                <input type="password"
                       class="form-control"
                       id="facilitator_password"
                       name="password"
                       placeholder="Enter your password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block loginbox %}{% endblock %}
