{% extends "base.html" %}

{% block loginphoto %}
    splash-photo
{% endblock %}

{% block title %}
    Please log in.
{% endblock %}

{% block content %}
<div class="worth-facilitator-login col-sm-7">

<div class="jumbotron login-jumbotron">

    <img class="img-responsive center-block" src="{{STATIC_URL}}img/logo-red.png" />

    <form class="form-signin" role="form" method="post"
          action="/accounts/login/">
        {% csrf_token %}

        <h3 class="form-signin-heading"></h3>

        <label for="facilitator_id"
               class="control-label sr-only"
               >Facilitator ID</label>
        <input type="text"
               class="form-control {% if form.username.errors %}has-error{% endif %}"
               id="facilitator_id"
               name="username"
               placeholder="Enter your username"
               required autofocus>

        <label for="facilitator_password"
               class="control-label sr-only"
               >Facilitator Password</label>
        <input type="password"
               class="form-control {% if form.password.errors %}has-error{% endif %}"
               id="facilitator_password"
               name="password"
               placeholder="Enter your password"
               required autofocus>

        <div class="form-group">
            <button type="submit"
                    class="btn btn-lg btn-default btn-block"
                    >Sign In</button>
        </div>
    </form>

    <hr style="border: 1px solid black;" />

    {% if CAS_BASE %}

    <form method="get" action="{{ CAS_BASE }}cas/login">

    {% csrf_token %}

        <input type="hidden" name="destination" value="https://{{ request.get_host }}/accounts/caslogin/?next={{ next|urlencode }}" />

             <button type="submit" class="btn btn-lg btn-default btn-block">Sign In with Columbia UNI.</button>


    </form>

    {% endif %}

    <a class="btn btn-lg btn-link btn-block"
       href="https://cuit.columbia.edu/cuit/manage-my-uni"
       title="Learn more about UNI" target="_blank">What is a UNI?</a>

</div>
      </div>


{% endblock %}
