<h1>My Avatar</h1>
<h2>Get Personal!</h2>

<div class="worth-avatars">
    <form method="post" action=".">{% csrf_token %}
        {% for avatar in block.avatars %}
        <span class="worth-avatar">
            <img src="{{ avatar.image.url }}" />
        </span>
        <button class="btn btn-default" type="submit"
                name="pageblock-{{block.pageblock.pk}}-avatar-id"
                value="{{ avatar.pk }}"
                >This is me!</button>
        {% endfor %}
    </form>
</div>
