{% extends 'base.html' %}

{% load webdesign %}

{% block content %}
{% if request.user.is_anonymous %}
You're not signed in
{% else %}
<h1>My Avatar</h1>
<h2>Get Personal!</h2>
{% lorem 1 p %}

<form class="worth-avatars" method="post">
    {% csrf_token %}

    {% for avatar in avatars %}
    <div class="worth-avatar">
        <img src="{{ avatar.image.url }}" />
    </div>
    <button class="btn btn-default" type="submit" name="avatar_id"
            value="{{ avatar.pk }}"
            >This is me!</button>
    {% endfor %}
</form>

{% endif %}
{% endblock %}
