<div class="modal" id="worth-break-modal" tabindex="-1" role="dialog"
     aria-labelledby="worth-break-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true"
                                                 >&times;</span></button>
                <h4 class="modal-title">Pause</h4>
            </div>
            <div class="modal-body">
                <p>Ready to jump back in?</p>
            </div>
            <div class="modal-footer">
                <a href="/accounts/logout" type="button"
                   class="btn btn-danger pull-left"
                   >Log Out This Participant</a>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">Let's Go!</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
