{% extends 'base.html' %}
{% load participanttags %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="worth-facilitator-dashboard">
    <div class="row">
        <div class="col-md-7">
            <h1>E-WORTH</h1>
            <div class="subhead">Empowering African-American Women on the Road to Health</div>
            <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu urna sit amet sapien dapibus egestas et eget nibh. Nulla feugiat bibendum enim eget pharetra. Sed id porttitor diam. Nam id mi ullamcorper, egestas neque sit amet, consequat metus. Donec sollicitudin metus quis consectetur malesuada. Nullam eget arcu dictum turpis imperdiet malesuada eget in nibh. Sed tellus diam, malesuada eget nisi a, pharetra aliquam metus. Integer finibus, lectus in sagittis maximus, erat orci egestas odio, nec interdum magna tortor eget odio. In sit amet suscipit sem. Aliquam tempor orci ut tincidunt semper. In pharetra diam in quam condimentum vehicula. Praesent aliquet mi vel suscipit placerat. Curabitur eget elementum enim.
            </p>
        </div>
        <div class="col-md-5 text-center">
            {% if percent_complete == 0 %}
                <div class="jumbotron-special course-progress">
                    <h2>Welcome!</h2>
                    <div class="subhead">{{completed}} of 6 Sessions Complete</div>
                    <a href="{{last_location}}" class="btn btn-lg btn-default">Let's get started <i class="icon-arrow-right icon-white"></i></a>
                </div>
            {% else %}
                <div class="jumbotron-special course-progress">
                    <h2>Progress</h2>
                    <div class="subhead">{{completed}} of 6 Sessions Complete</div>
                    <a href="{{last_location}}" class="btn btn-lg btn-default">
                        Continue <i class="icon-arrow-right"></i>
                    </a>
                    <table class="table table-condensed">
                        <tbody>
                            {% for i in '12345' %}
                            <tr>
                                <td><a class="btn btn-link text-white" href="/pages/session-{{forloop.counter}}">Session {{forloop.counter}}</a></td>
                                <td>
                                    <strong>
                                        {% module_completed_percentage request.user forloop.counter %}%
                                    </strong>
                                </td>
                                <td>
                                    <a href="{% url 'journal' forloop.counter %}"
                                        class="btn btn-link text-white">Print Journal
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>

    <hr />

    <ul class="flex-container">
        <li class="flex-item text-center">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/charlene.png" />
            <div>
                Charlene
            </div>
        </li>
        <li class="flex-item text-center">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/joy.png" />
            <div>
                Joy
            </div>
        </li>
        <li class="flex-item text-center">
           <img class="img-responsive img-circle" src="{{STATIC_URL}}img/mia.png" />
            <div>
                Mia
            </div>
        </li>
        <li class="flex-item text-center">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/rasheeda.png" />
            <div>
                Rasheeda
            </div>
        </li>
        <li class="flex-item text-center">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/amanda.png" />
            <div>
                Amanda
            </div>
        </li>
    </div>
</div>

{% endblock %}
