{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="worth-facilitator-dashboard">
    <div class="row-fluid">
        <div class="span12">
                {% if completed == 0 %}
                    <a href="{{last_location}}" class="btn btn-large btn-primary">Get Started <i class="icon-arrow-right icon-white"></i></a>
                {% else %}
                    <div class="course-progress">
                    <h4>Course Progress</h4>
                    <h5>{{completed}} of 6 Sessions Complete</h5>
                    <a href="{{last_location}}" class="btn btn-large">
                        Continue <i class="icon-arrow-right"></i>
                    </a>
                    </div>
                {% endif %}
        </div>
    </div>

    <h1>
        {% if request.user.first_name %}
        {{request.user.first_name}}'s
        {% else %}
        {{request.user.username}}'s
        {% endif %}
        Dashboard
    </h1>

    <div class="row">
        <div class="col-md-2 text-center col-md-offset-1 ">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/charlene.png" />
            <!--<img class="img-responsive img-circle" src="{{STATIC_URL}}img/textile-splash-jumbotron-shim.png" />-->
            <h3>
                Charlene
            </h3>
        </div>      
        <div class="col-md-2 text-center">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/joy.png" />
           <!--<img class="img-responsive img-circle" src="{{STATIC_URL}}img/textile-splash-jumbotron-shim.png" />-->
            <h3>
                Joy
            </h3>
        </div>      
        <div class="col-md-2 text-center">
           <img class="img-responsive img-circle" src="{{STATIC_URL}}img/mia.png" />
            <!--<img class="img-responsive img-circle" src="{{STATIC_URL}}img/textile-splash-jumbotron-shim.png" />-->
            <h3>
                Mia
            </h3>
        </div>      
        <div class="col-md-2 text-center">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/rasheeda.png" />
            <!--<img class="img-responsive img-circle" src="{{STATIC_URL}}img/textile-splash-jumbotron-shim.png" />-->
            <h3>
                Rasheeda
            </h3>
        </div>
        <div class="col-md-2 text-center">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/amanda.png" />
            <!--<img class="img-responsive img-circle" src="{{STATIC_URL}}img/textile-splash-jumbotron-shim.png" />-->
            
            <h3>
                Amanda
            </h3>
        </div>      
    </div>
        
</div>

{% endblock %}
