{% extends 'base.html' %}

{% load webdesign %}

{% block content %}
<div class="worth-facilitator-manage-participants">
    <h1>Manage Participants</h1>
    {% lorem 1 p %}

    <a class="btn btn-success">Add a participant</a>

    <h2>Active Participants</h2>
    <div class="row">
        <div class="col-md-6">555-555-555</div>
        <div class="col-md-6">
            <button class="btn btn-primary">
                Edit ID
            </button>
            <button class="btn btn-primary">
                View Progress
            </button>
            <button class="btn btn-primary">
                Print Worksheet
            </button>
        </div>
    </div>

    <h2>Archived Participants</h2>
    <div class="row">
        <div class="col-md-6">555-555-555</div>
        <div class="col-md-6">
            <button class="btn btn-primary">
                Edit ID
            </button>
            <button class="btn btn-primary">
                View Progress
            </button>
            <button class="btn btn-primary">
                Print Worksheet
            </button>
        </div>
    </div>
</div>
{% endblock %}
