{% extends 'base.html' %}

{% load bootstrap3 %}
{% load participanttags %}

{% block title %}Intervene{% endblock %}

{% block content %}
<div class="worth-facilitator-sign-in-participant">

    <h1>Sign In My Participant</h1>

        <form class="form-horizontal" role="form" method="post" action=""">

        <div class="well">

        <h2 class="lead">Step 1. Who is my participant?</h2>

        {% csrf_token %}

        {% bootstrap_field form.filter_by_cohort layout='horizontal' %}

        <div class="form-group {% if form.participant_id.errors %}has-error{% endif %}" >
            <label class="control-label col-md-3" for="{{form.participant_id.id_for_label}}">
                {{ form.participant_id.field.label }}</label>
            <div class="col-md-9">
                <select class="form-control" id="id_participant_id"
                        name="participant_id">
                    <option>Choose a Participant</option>
                    {% for p in form.participant_id.field.choices %}
                    {% get_participant p.0 as participant %}

                    {% comment %}
                    For some reason, you can't have numbers in data
                    attribute keys. So I'm referring to modules 1-5
                    here as a, b, c, d, e.
                    {% endcomment %}
                    <option value="{{p.0}}"
                            data-cohort-id="{{participant.cohort_id|default:''}}"
                            data-is-recently-logged-in="{{participant.user.last_login|is_recent}}"
                            data-module-a-complete="{{participant.module_1_completed_percentage}}"
                            data-module-b-complete="{{participant.module_2_completed_percentage}}"
                            data-module-c-complete="{{participant.module_3_completed_percentage}}"
                            data-module-d-complete="{{participant.module_4_completed_percentage}}"
                            data-module-e-complete="{{participant.module_5_completed_percentage}}"
                            {% if form.cleaned_data.participant_id.pk == p.0 %}
                            selected="selected"
                            {% endif %}
                            >
                        {{p.1}}</option>
                    {% endfor %}
                </select>
                {% for error in form.participant_id.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
                <br>
                <div class="participant-signin-warning alert alert-warning" style="display: none;">
                    Warning: This participant has been signed in within
                    the last five minutes.
                </div>
            </div>
        </div>

        </div>
        
        <div class="well">
        
        <h2 class="lead">Step 2. Where are we?</h2>

        {% bootstrap_field form.participant_location layout='horizontal' %}

        </div>
        
        <div class="well">
            <h2 class="lead">Step 3. Where do we want to go?</h2>
            {% bootstrap_field form.participant_destination layout='horizontal' %}
        </div>
         
        <div class="well">
        <h2 class="lead">Step 4. What kind of session is this?</h2>
        {% bootstrap_field form.session_type layout='horizontal' %}
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Here we go!</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
