<div class="worth-facilitator-dashboard">
    {% if request.user.is_staff %}
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button"
                id="sessionDropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Demonstration View
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="sessionDropdownMenu1">
            <li><a href="/pages/session-1/">Session 1</a></li>
            <li><a href="/pages/session-2/">Session 2</a></li>
            <li><a href="/pages/session-3/">Session 3</a></li>
            <li><a href="/pages/session-4/">Session 4</a></li>
            <li><a href="/pages/session-5/">Session 5</a></li>
        </ul>
    </div>
    {% endif %}

    <h1>
        {% if request.user.first_name %}
        {{request.user.first_name}}'s
        {% else %}
        {{request.user.username}}'s
        {% endif %}
        Dashboard
    </h1>

    <div class="row dashboard-widgets"> 
    
    <div class="{% if user.is_staff %}col-md-4{% else %}col-md-6{% endif %}">
    <div class="well dashboard-widget">
    <h2>Intervene</h2>
    <p>Lead a participant through the E-WORTH experience.</p>
    <a href="{% url 'sign-in-participant' %}" class="btn btn-primary">Sign In Participant</a>
    </div>
    </div>
    
    <div class="{% if user.is_staff %}col-md-4{% else %}col-md-6{% endif %}">
        <div class="well dashboard-widget">
            <h2>Manage</h2>
            <p>Add, edit, and delete all kinds of cohort and participant information.</p>
            <div>
                <a href="{% url 'manage-participants' %}" class="btn btn-primary pull-left">Manage Participant IDs</a>
            </div>
        </div>
    </div>

    {% if user.is_staff %}
    <div class="col-md-4">
        <div class="well dashboard-widget">
            <h2>Assess</h2>
            <p>Generate reports for participant usage across all sessions</p>
            <div>
                <a href="{% url 'participant-report' %}" class="btn btn-primary pull-left">Retrieve Reports</a>
            </div>
        </div>
    </div>
    {% endif %}
    
    </div>
    
    <div class="row">
        <div class="col-md-2 text-center col-md-offset-1 ">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/charlene.png" />
            <!--<img class="img-responsive img-circle" src="{{STATIC_URL}}img/textile-splash-jumbotron-shim.png" />-->
            <h3>
                Charlene
            </h3>
        </div>		
        <div class="col-md-2 text-center">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/joy.png" />
           <!--<img class="img-responsive img-circle" src="{{STATIC_URL}}img/textile-splash-jumbotron-shim.png" />-->
            <h3>
                Joy
            </h3>
        </div>		
        <div class="col-md-2 text-center">
           <img class="img-responsive img-circle" src="{{STATIC_URL}}img/mia.png" />
            <!--<img class="img-responsive img-circle" src="{{STATIC_URL}}img/textile-splash-jumbotron-shim.png" />-->
            <h3>
                Mia
            </h3>
        </div>		
        <div class="col-md-2 text-center">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/rasheeda.png" />
            <!--<img class="img-responsive img-circle" src="{{STATIC_URL}}img/textile-splash-jumbotron-shim.png" />-->
            <h3>
                Rasheeda
            </h3>
        </div>
        <div class="col-md-2 text-center">
            <img class="img-responsive img-circle" src="{{STATIC_URL}}img/amanda.png" />
            <!--<img class="img-responsive img-circle" src="{{STATIC_URL}}img/textile-splash-jumbotron-shim.png" />-->
            
            <h3>
                Amanda
            </h3>
        </div>		
    </div>
        
</div>
