<div class="worth-facilitator-dashboard">
    <a href="/pages/">View Intervention as Facilitator</a>

    <h1>
        {% if request.user.first_name %}
        {{request.user.first_name}}'s
        {% else %}
        {{request.user.username}}'s
        {% endif %}
        Dashboard
    </h1>

    <div class="dashboard-widgets">
    
    <div class="well">
    <h2>Intervene</h2>
    <p>Lead a participant through the E-WORTH experience.</p>
    <a href="{% url 'sign-in-participant' %}" class="btn btn-primary">Sign In Participant</a>
    </div>
    
    <div class="well">
    <h2>Manage</h2>
    <p>Add, edit, and delete all kinds of cohort and participant information.</p>
    <a href="{% url 'manage-participants' %}" class="btn btn-primary">Manage Participant IDs</a>
    </div>
    
    </div>
    
</div>
