{% extends 'base.html' %}

{% load bootstrap3 %}
{% load participanttags %}

{% block title %}Intervene{% endblock %}

{% block content %}
<div class="worth-facilitator-sign-in-participant">

    <h1>Sign In My Participant</h1>

        <form class="form-horizontal" role="form" method="post" action=""">

        <div class="well">

        <h2 class="lead">Step 1. Who is my participant?</h2>

        {% csrf_token %}

        {% bootstrap_field form.filter_by_cohort layout='horizontal' %}

        <div class="form-group {% if form.participant_id.errors %}has-error{% endif %}" >
            <label class="control-label col-md-3" for="{{form.participant_id.id_for_label}}">
                {{ form.participant_id.field.label }}</label>
            <div class="col-md-9">
                <select class="form-control" id="id_participant_id"
                        name="participant_id">
                    <option>Choose a Participant</option>
                    {% for p in form.participant_id.field.choices %}
                    {% get_participant p.0 as participant %}
                    <option value="{{p.0}}"
                            data-cohort-id="{{participant.cohort_id|default:''}}"
                            data-last-location="{{participant.last_location_verbose}}"
                            data-next-location="{{participant.next_module_verbose}}"
                            data-highest-accessed="{{participant.highest_module_accessed}}"
                            {% if form.cleaned_data.participant_id.pk == p.0 %}
                            selected="selected"
                            {% endif %}
                            >
                        {{p.1}}</option>
                    {% endfor %}
                </select>
                {% for error in form.participant_id.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        </div>
        
        <div class="well">
        
        <h2 class="lead">Step 2. Where are we?</h2>

        {% bootstrap_field form.participant_location layout='horizontal' %}

        </div>
        
        <div class="well">
        <h2 class="lead">Step 3. Where do we want to go?</h2>

            <div class="form-group worth-participant-destination">
                <label for="participant_destination"
                       class="control-label col-md-3">Take participant to:</label>
                <div class="col-md-9">
                    <div class="radio form-group">
                        <label>
                            <input type="radio" name="participant_destination"
                                   value="next_new_session"
                                   {% if form.cleaned_data.participant_destination == 'next_new_session' or form.cleaned_data == None %}
                                   checked
                                   {% endif %}
                                   >
                            the next, <strong>new</strong> session.
                            &rarr; <span class="worth-participant-next-location"></span>
                        </label>
                        <div>
                            
                        </div>
                    </div>
                    <div class="radio form-group">
                        <label>
                            <input type="radio"
                                   name="participant_destination"
                                   value="last_completed_activity"
                                   {% if form.cleaned_data.participant_destination == 'last_completed_activity' %}
                                   checked
                                   {% endif %}
                                   >
                            the last <strong>completed</strong> activity.
                            &rarr; <span class="worth-participant-last-location"></span>
                        </label>
                        <div>
                            
                        </div>
                    </div>
                    <div class="radio form-group">
                        <label>
                            <input type="radio" name="participant_destination"
                                   value="already_completed_session"
                                   disabled="disabled"
                                   {% if form.cleaned_data.participant_destination == 'already_completed_session' %}
                                   checked
                                   {% endif %}
                                   >
                            An already completed session for review.
                        </label>
    
                        {% bootstrap_field form.already_completed_session layout='horizontal' %}
                    </div>
                </div>
            </div>
        
         </div>
         
        <div class="well">
        <h2 class="lead">Step 4. What kind of session is this?</h2>
        {% bootstrap_field form.session_type layout='horizontal' %}
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Here we go!</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
