{% extends 'base.html' %}

{% load bootstrap %}
{% load bootstrap3 %}
{% load participanttags %}

{% block content %}
<div class="worth-facilitator-sign-in-participant">
    <h1>Sign In a Participant</h1>

    <form class="form-horizontal"
          role="form"
          method="post"
          action="">
        {% csrf_token %}

        {{ form.filter_by_cohort|bootstrap_horizontal:'col-sm-3' }}

        <div class="form-group {% if form.participant_id.errors %}has-error{% endif %}">
            <label class="control-label col-sm-3"
                   for="{{form.participant_id.id_for_label}}">
                {{ form.participant_id.field.label }}</label>
            <div class="col-sm-9">
                <select class="form-control" id="id_participant_id"
                        name="participant_id">
                    <option>Choose a Participant</option>
                    {% for p in form.participant_id.field.choices %}
                    {% get_participant p.0 as participant %}
                    <option value="{{p.0}}"
                            data-cohort-id="{{participant.cohort_id|default:''}}"
                            data-last-location="{{participant.last_location_verbose}}"
                            data-next-location="{{participant.next_module_verbose}}"
                            data-highest-accessed="{{participant.highest_module_accessed}}"
                            {% if form.cleaned_data.participant_id.pk == p.0 %}
                            selected="selected"
                            {% endif %}
                            >
                        {{p.1}}</option>
                    {% endfor %}
                </select>
                {% for error in form.participant_id.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>

        <hr />

        {{ form.participant_location|bootstrap_horizontal:'col-sm-3' }}

        <hr />

        <div class="form-group worth-participant-destination">
            <label for="participant_destination"
                   class="control-label col-sm-3">Take participant to:</label>
            <div class="col-sm-6">
                <div class="radio form-group">
                    <label>
                        <input type="radio" name="participant_destination"
                               value="next_new_session"
                               {% if form.cleaned_data.participant_destination == 'next_new_session' %}
                               checked
                               {% endif %}
                               >
                        The next, new session.
                    </label>
                    <div>
                        <span class="worth-participant-next-location"></span>
                    </div>
                </div>
                <div class="radio form-group">
                    <label>
                        <input type="radio"
                               name="participant_destination"
                               value="last_completed_activity"
                               {% if form.cleaned_data.participant_destination == 'last_completed_activity' %}
                               checked
                               {% endif %}
                               >
                        The last completed activity.
                    </label>
                    <div>
                        <span class="worth-participant-last-location"></span>
                    </div>
                </div>
                <div class="radio form-group">
                    <label>
                        <input type="radio" name="participant_destination"
                               value="already_completed_session"
                               disabled="disabled"
                               {% if form.cleaned_data.participant_destination == 'already_completed_session' %}
                               checked
                               {% endif %}
                               >
                        An already completed session for review.
                    </label>

                    {% bootstrap_field form.already_completed_session %}
                </div>
            </div>
        </div>

        {{ form.session_type|bootstrap_horizontal:'col-sm-3' }}

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}
