{% load webdesign %}

<div class="worth-facilitator-dashboard">
    <h1>
        {% if request.user.first_name %}
        {{request.user.first_name}}'s
        {% else %}
        {{request.user.username}}'s
        {% endif %}
        Dashboard
    </h1>
    {% lorem 1 p %}

    <h2>Intervene</h2>
    {% lorem 1 p %}
    <a href="{% url 'sign-in-participant' %}"
       class="btn btn-primary">Sign In Participant</a>

    <h2>Present</h2>
    {% lorem 1 p %}
    <a href="#" class="btn btn-primary">Present Information</a>

    <h2>Manage</h2>
    {% lorem 1 p %}
    <a href="{% url 'manage-participants' %}"
       class="btn btn-primary">Manage Participant IDs</a>
</div>
