<h3>My Issue</h3>
<div class="worth-journal-info-element">
    <div>
        <strong>TODO:</strong>
        This journal item depends on this activity:
        <a href="/pages/session-{{session_num}}/services/"
           >/pages/session-{{session_num}}/services/</a>
    </div>

    <div>
        <strong>This issue was important to you this week:</strong>
    </div>
    <div>
        <strong>
            Here is a list of organizations you can call for help
            with this issue:
        </strong>
    </div>
</div>
