<h3>I am WORTH it!</h3>
<div class="worth-journal-info-element worth-journal-i-am-worth-it">
    <p>
        It is important to take a moment out of our busy lives to
        remind ourselves why we are WORTH it. Here are some words
        that describe why you are worth it:
    </p>

    {% if i_am_worth_it_responses %}
    <p>I am:</p>
    <ul>
        {% for r in i_am_worth_it_responses %}
        <li>
            {{ r }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p><strong>
        No responses found. Please fill out the form
        <a href="/pages/session-{{session_num}}/i-am-worth-it/">here</a>.
    </strong></p>
    {% endif %}
</div>
