{% extends 'base.html' %}

{% block title %}Assess{% endblock %}

{% block content %}
<div class="worth-facilitator-retrieve-reports">
    <h1>Retrieve Reports</h1>

    <form action="." method="post">{% csrf_token %}
        <div class="form-inline">
            <div class="form-group">
                <label for="report-type-filter">Report Type:</label>
                <select id="report-type-filter" class="form-control" name="report-type" >
                    <option value="facilitators">Facilitator Key</option>
                    <option value="locations">Location Key</option>
                    <option value="keys">Intervention Key</option>
                    <option value="values">Intervention Values</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Go" class="btn btn-primary" />
            </div>
        </div>
    </form>

</div>

{% endblock %}
