{% extends 'base.html' %}

{% block title %}Manage{% endblock %}

{% block content %}
<div class="worth-facilitator-manage-participants">
    <h1>Manage Participants</h1>

    <div class="form-inline">
        <div class="form-group">
            <button type="button" class="btn btn-success"
                    data-toggle="modal"
                    data-target="#add-participant-modal"
                    >Add Participant</button>
        </div>

        <div class="form-group">
            <label for="manage-cohort-filter">Filter by Cohort:</label>
            <select id="manage-cohort-filter" class="form-control">
                <option value="all">All Cohorts</option>
                <option value="">Unassigned</option>
                {% for cid in cohorts %}
                <option value="{{cid}}">{{cid}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <h2>Active Participants</h2>
    <div class="row row-header">
        <div class="col-sm-4">
            Study ID
        </div>
        <div class="col-sm-2">
            Cohort ID
        </div>
    </div>
    {% for participant in active_participants %}
    {% include 'main/participant_edit_row.html' %}
    {% empty %}
    <em>None</em>
    {% endfor %}
</div>

<div class="modal"
     id="add-participant-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Add Participant ID</h4>
            </div>
            <form id="worth-create-participant"
                  class="form-inline" role="form">
                <div class="modal-body"
                     style="text-align: center;">
                    <div class="alert alert-danger worth-errors"
                         style="display: none;"></div>
                    <div class="alert alert-success worth-success"
                         style="display: none;">Participant created.</div>
                    <div class="form-group">
                        <label>
                            Study ID # <input type="text" class="form-control"
                                              name="study_id" />
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-default"
                            data-dismiss="modal">Cancel</button>
                    <button type="submit"
                            class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
