<div class="worth-id-instructions">
    <p>
        The study ID consists of 13 digits:
        <strong>RRHHMMDDMMYBS</strong>
        where the letters correspond to the following:
    </p>
    <ul>
        <li>
            <strong>RR</strong> - Research Assistant
        </li>
        <li>
            <strong>HH</strong> - hour (24-hour clock)
        </li>
        <li>
            <strong>MM</strong> - minute
        </li>
        <li>
            <strong>DD</strong> - day
        </li>
        <li>
            <strong>MM</strong> - month
        </li>
        <li>
            <strong>Y</strong> - last digit of year
            (<strong>5</strong>, <strong>6</strong>,
            or <strong>7</strong>)
        </li>
        <li>
            <strong>B</strong> - borough
            (Bronx=<strong>1</strong>,
            Brooklyn=<strong>2</strong>,
            Manhattan=<strong>3</strong>,
            Queens=<strong>4</strong>,
            Staten Island=<strong>5</strong>)
        </li>
        <li>
            <strong>S</strong> - Fortune site (LIC=<strong>1</strong>, Harlem=<strong>2</strong>)
        </li>
    </ul>
</div>
