{% extends 'main/journal_base.html' %}

{% block content %}
{{ block.super }}

<h3>Social Support Network Map</h3>
<div class="worth-journal-info-element">
    {% include 'main/journal_ssnm_display.html' %}
</div>

<h3>Goals to increase social support</h3>
<div class="worth-journal-info-element">
    {% with responses=goals_support_responses %}
    {% include 'main/journal_goal_responses.html' %}
    {% endwith %}
</div>

<h3>Problem Solving the POP Way</h3>
<div class="worth-journal-info-element">
    <p>
        We're going to learn a problem solving technique called
        POP.
        POP stands for:

        <dl>
            <dt>P = PROBLEM</dt>
            <dd>Define the problem and its consequences.</dd>

            <dt>O = OPTIONS</dt>
            <dd>Brainstorm the options (weigh pros/cons).</dd>

            <dt>P = PLAN OF ACTION</dt>
            <dd>
                Come up with a plan to act on best option. Look
                and see how the plan is working and revise plan if
                needed. Reward yourself for any progress you make.
            </dd>
        </dl>
    </p>
</div>

<h3>What is Self Talk?</h3>
<div class="worth-journal-info-element">
    <p>
        Feelings are deep and often we can't necessarily understand
        easily why things make us feel as they do. This is because
        we just keep accumulating feelings throughout our lives. Even
        as kids we might have an experience that triggers a feeling,
        which can stay with us for life. Sometimes these feelings can
        become triggers for unsafe behavior.
    </p>
    <p>
        One way to counter feelings
        that are triggers is to try to change the way you think about
        something. The way to do this is through self-talk. What is
        self-talk? It's your internal voice; the one that you keep a
        running conversation with during the day as you go about your
        business. This internal voice is a constant reflection of how
        you are feeling. It tells you that you will be late if you
        don't leave enough time to get somewhere. It tells you that
        something you said was stupid, if you suddenly feel that you
        said something stupid. Just as the voice tells you negative
        things, you can train it to say positive things.
    </p>
</div>

<h3>My Goals for Risk Reduction</h3>
<div class="worth-journal-info-element">
    {% with responses=goals_risk_responses %}
    {% include 'main/journal_goal_responses.html' %}
    {% endwith %}
</div>

<h3>Eroticizing Safer Sex: The Fantasy Menu</h3>
<div class="worth-journal-info-element">
    <h4>Condom-ments</h4>
    <p>
        Before ordering an item from the menu, prepare a bowl of
        "condom-ments" &mdash; flavored male condoms and female
        condoms. Open one or two before you begin selecting items from
        the menu!
    </p>

    <h4>Appetizers/Starters (these items are risk free)</h4>
    <ul>
        <li>Foot Massage</li>
        <li>Play with Partner's Hair</li>
        <li>Read Partner Poetry</li>
        <li>Wear Something Sexually Appealing</li>
        <li>Watch Sexy Video with Partner</li>
        <li>Sing Partner a Love Song</li>
        <li>Dance Close with Partner</li>
        <li>Take a Walk in the Moonlight</li>
        <li>Back Massage</li>
        <li>Describe a Sexy Love Scene to Partner</li>
        <li>Cuddle with Partner</li>
        <li>
            Set the Mood Using Candles and Scents that both You and
            Your Partner Like
        </li>
        <li>Listen to Sexy Music with Partner</li>
        <li>Give Your Partner a Manicure or Pedicure</li>
    </ul>

    <h4>Intermezzo/Middle Course (these items are risk free)</h4>
    <ul>
        <li>Give Partner a Full Body massage (with Clothes on)</li>
        <li>Partner Gives You a Full Body Massage (with Clothes on)</li>
        <li>Trace Partner's Body with Finger</li>
        <li>Undress Partner (Slowly)</li>
        <li>Simultaneous Massage</li>
        <li>Perform a Striptease for Partner</li>
        <li>Shower or Bathe with Partner</li>
        <li>No, thank you. I don't want any of these.</li>
    </ul>

    <h4>
        Entrée/Main Course (Prices range from risk free to low
        risk. You will need condom-ments for choices marked with a
        heart icon.)
    </h4>
    <ul>
        <li>Full Body Massage (No Clothes)...Risk Free</li>
        <li>Bring Partner to Orgasm with Hand...Risk Free</li>
        <li>Bring Self to Orgasm...Risk Free</li>
        <li>
            69 with Flavored Male Condom and Dental Dam...Low Risk
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </li>
        <li>Mutual Masturbation...Risk Free</li>
        <li>
            Intercourse with Male Condom...Low Risk
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </li>
        <li>
            Intercourse with Female Condom...Low Risk
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </li>
        <li>
            Bring Partner to Orgasm with Mouth...Low Risk
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </li>
        <li>
            Bring Partner to Orgasm with Toy...Risk Free
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </li>
        <li>Trace Partner's Body with Tongue...Low Risk</li>
    </ul>

    <h4>
        Dessert (Prices range from risk free to low risk. You will
        need condom-ments for choices marked with a heart icon.)
    </h4>
    <ul>
        <li>
            Play a Sexy Game Using Toys or Yummy Treats (Whipped Cream, Cherries, etc.)...Low Risk
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </li>
        <li>
            Chef's Special (Come up with Something Special)...Low Risk
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </li>
        <li>Shower or Bathe with Partner...Risk Free</li>
        <li>Tell Partner a Fantasy...Risk Free</li>
        <li>
            Intercourse in a New Position Using a Male or Female Condom...Low Risk
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </li>
        <li>
            Second (or Third) Helping From Anything on the Menu..Low Risk
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </li>
    </ul>
</div>

{% include 'main/journal_my_issue.html' %}

<h3>My Goals to Access Services</h3>
<div class="worth-journal-info-element">
    {% with responses=goals_services_responses %}
    {% include 'main/journal_goal_responses.html' %}
    {% endwith %}
</div>

{% include 'main/journal_i_am_worth_it.html' %}

<h3>Homework</h3>
<div class="worth-journal-info-element">
    <p>
        Working to complete the goals we set is important.
        Keep up the great work! For your homework this week
        as be sure to complete the general services goal you
        set during today's session.
    </p>
</div>

<h3>Congratulations</h3>
<div class="worth-journal-info-element">
    <p>
        Congratulations on completing another session of E-WORTH!
        Thank you again for participating; we look forward to seeing
        you next week!
    </p>
</div>
{% endblock %}
