{% extends 'main/journal_base.html' %}

{% block content %}
{{ block.super }}

<h3>Goal Setting</h3>
<div class="worth-journal-info-element">
    TODO
</div>

{% include 'main/journal_i_am_worth_it.html' %}

<h3>I am proud</h3>
<div class="worth-journal-info-element">
    <p>
        As you reflect back on the last 5 weeks of E-WORTH,
        let's also think about things that make you proud.
        These are things that you have done during your time
        with E-WORTH or things in your life and community of
        which you are proud.
    </p>
    TODO
</div>

<h3>Congratulations!</h3>
{% endblock %}
