{% extends 'main/journal_base.html' %}

{% block content %}
{{ block.super }}

<h3>Introduction to the journals</h3>
<div class="worth-journal-info-element">
    <p>
        This is the first of five "road maps" or "journals".
        Many of the items here will contain your private
        and confidential responses to the exercises you
        complete each week, as well as the goals you set.
        Some will also contain additional information you
        learned during the sessions. Be sure to
        store the maps that contain more sensitive information
        (that you would prefer to be kept completely private)
        in a safe place.
    </p>
</div>

<h3>My Goals</h3>
<div class="worth-journal-info-element">
    {% with responses=goals_services_responses %}
    {% with link="/pages/session-1/goal-setting/" %}
        {% include 'main/journal_goal_responses.html' %}
    {% endwith %}
    {% endwith %}
</div>

{% include 'main/journal_my_issue.html' %}

<h3>Homework</h3>
<div class="worth-journal-info-element">
    <p>
        For your homework this week, focus on working towards
        the general services goals you set.
    </p>
</div>

<h3>Congratulations</h3>
<div class="worth-journal-info-element">
    <p>
        Congratulations on completing the first session of E-WORTH,
        on your road to health! We hope that you will find this experience rewarding
        and that you will share the information you learn with family,
        friends, and others in our community.
    </p>
</div>
{% endblock %}
