{% load bootstrap3 %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>EWORTH {% block title %}{% endblock %}</title>
    <meta name="description" content="worth2">
    <meta name="author" content="CCNMTL">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="{% bootstrap_css_url %}" rel="stylesheet">

    {% compress css %}
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
    {% endcompress %}

	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
	{% block css %}{% endblock %}

	{% block feeds %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}" id="{% block bodyid %}{% endblock %}">
<a class="sr-only" href="#content">Skip navigation</a>

{% block topnavbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
	      <a class="navbar-brand" href="/">EWORTH</a>
      </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      {% block topnavbarleftitems %}{% endblock %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
        {% if request.user.profile.is_participant %}

        {# Participant nav bar #}
        {% if request.user.profile.avatar %}
        <img src="avatar.png" height="36" width="36" />
        {% endif %}
        <li><button type="button" class="btn btn-success navbar-btn"
                    data-toggle="modal" data-target="#worth-break-modal"
                    >I Need a Break.</button></li>
        {% else %}

        {# Facilitator nav bar #}
        {% if request.user.is_anonymous %}
        <li><a href="/accounts/login/">Sign In</a></li>
        {% else %}
        <li><a href="/">Hi,
                {% if request.user.first_name %}
                {{request.user.first_name}}!
                {% else %}
                {{request.user.username}}!
                {% endif %}
        </a></li>
        <li><a href="/accounts/logout/">Sign Out</a></li>
        {% endif %}
        <li><a href="/about/">About</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/credits/">Credits</a></li>
        {% if request.user.is_superuser %}
        <li><a href="/admin/">Admin</a></li>
        {% endif %}

        {% endif %}

        {% block topnavbarrightitems %}{% endblock %}
    </ul>
  </div>
  </div>
</nav>

{% endblock %}

{% include 'main/break_modal.html' %}

<div class="container {% block loginphoto %}{% endblock %} id="outer-container">
{% block masthead %}
{% block primarynav %}{% endblock %}
{% endblock %}

{% if request.user.is_superuser %}
{% block navrightextra %}
{% endblock %}
{% endif %}

{% block loginbox %}
{% endblock %}

{% block sidenav %}{% endblock %}
{% block pagetitle %}{% endblock %}
{% block content %}{% endblock %}
{% block content-nav %}{% endblock %}

</div> <!-- end .container -->

{% block footer %}
<footer class="footer hidden-phone"></footer>
{% endblock %}

<script data-main="{{STATIC_URL}}js/src/main.js"
        src="{{STATIC_URL}}js/lib/require.js"
        ></script>

{% block js %}
{% endblock %}

{% if STAGING_ENV %}
<div class="alert alert-danger alert-dismissable" style="position: fixed; bottom: 0px;">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Warning: Staging Site</h4>
<p>You are viewing a staging version of this site, not the production site.</p>
<p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
</div>
{% endif %}

{% if request.user.is_impersonate %}
<div class="alert alert-danger alert-dismissable" style="position: fixed; left: 0px; top: 75px">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
You are impersonating.<br />
<a class="btn" href="{% url 'impersonate-stop' %}">stop</a>
</div>
{% endif %}

</body>
</html>
