{% load bootstrap3 %}
{% load compress %}

{% load avatar %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} | E-WORTH</title>

    <meta name="description" content="E-WORTH">
    <meta name="author" content="CCNMTL, CUSSW">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    -->
    <meta name="format-detection" content="telephone=no">
    
    <!--<link href="//fonts.googleapis.com/css?family=Raleway:800,500" rel="stylesheet">-->

    <link href="{% bootstrap_css_url %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    {% compress css %}
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet">
    {% endcompress %}

	<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{STATIC_URL}}img/apple-touch-icon.png" />

	{% block css %}{% endblock %}

	{% block feeds %}{% endblock %}

    <script>
        var STATIC_URL = '{{STATIC_URL}}';
    </script>

    {# Include jquery outside require.js for bootstrap and forms js #}
    <script src="{{STATIC_URL}}js/lib/jquery.js"></script>

</head>

<body class="{% block bodyclass %}{% endblock %}"
      id="{% block bodyid %}{% endblock %}">
<a class="sr-only" href="#content">Skip navigation</a>
<img id="print-logo" src="{{STATIC_URL}}img/logo-black.png"  />
{% block topnavbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  id="worth-collapse-button"
                  data-toggle="collapse"
                  data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
	      <a title="E-WORTH" class="navbar-brand" href="/"><img style="background-color: black;" src="{{STATIC_URL}}img/logo-white.png" /></a>
      </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      {% block topnavbarleftitems %}{% endblock %}
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li id="avatar">
            <img class="worth-avatar" src="{% avatar_url user %}" />
        </li>

        {% if user.profile.is_participant %}
        {# Participant nav bar #}
        <li class="last-child">
            <button type="button" class="btn btn-link navbar-btn"
                    data-toggle="modal" data-target="#worth-signout-modal"
                    id="worth-facilitator-button"
                    >Facilitator</button>
        </li>
        {% else %}

        {# Facilitator nav bar #}
        {% if user.is_anonymous %}
        <li><a href="/accounts/login/">Get Started</a></li>
        {% else %}
        <li>
        <a href="/">Hi,
                {% if user.first_name %}
                {{user.first_name}}!
                {% else %}
                {{user.username}}!
                {% endif %}
        </a>
        </li>
        <li><a href="/accounts/logout/?next=/">Sign Out</a></li>
        {% endif %}
        <li><a href="/about/">About E-WORTH</a></li>
        <li><a href="/contact/">Contact</a></li>
        {% if user.is_superuser %}
        <li><a href="/admin/">Administer</a></li>
        <li><a href="/pages/edit/">Pagetree</a></li>
        {% endif %}

        {% endif %}

        {% block topnavbarrightitems %}{% endblock %}
    </ul>
    
  </div>
  </div>
</nav>
{% endblock %}
{% include 'main/break_modal.html' %}
<div class="container {% block loginphoto %}{% endblock %}" id="outer-container">
{% block masthead %}
{% block primarynav %}{% endblock %}
{% endblock %}

{% if user.is_superuser %}
{% block navrightextra %}
{% endblock %}
{% endif %}

{% block loginbox %}
{% endblock %}

{% block sidenav %}{% endblock %}
{% block pagetitle %}{% endblock %}
{% block content %}{% endblock %}
{% block content-nav %}{% endblock %}

</div> <!-- end .container -->
{% block footer %}
<footer class="footer hidden-phone"></footer>
{% endblock %}

<script src="https://cdn.ravenjs.com/3.8.1/raven.min.js"></script>
<script>
 Raven.config(
     'https://2db6b5fd3e4a4d6bbc112abcd669ae45@sentry.ccnmtl.columbia.edu/40'
 ).install();

 {% if not user.is_anonymous %}
 Raven.setUserContext({
     email: '{{user.email}}',
     id: '{{user.username}}'
 });
 {% else %}
 Raven.setUserContext({
     email: 'none',
     id: 'anonymous'
 });
 {% endif %}
</script>


{% if debug %}
<script data-main="{{STATIC_URL}}js/src/main.js"
        src="{{STATIC_URL}}js/lib/require.js"></script>
{% else %}
<script data-main="{{STATIC_URL}}main-built.js"
        src="{{STATIC_URL}}js/lib/require.js"></script>
{% endif %}

{% block js %}
{% endblock %}
{% if STAGING_ENV %}
<div class="alert alert-danger alert-dismissable" style="position: fixed; bottom: 0px;">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<h4>Warning: Staging Site</h4>
<p>You are viewing a staging version of this site, not the production site.</p>
<p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
</div>
{% endif %}
{% if user.is_impersonate %}
<div class="alert alert-danger alert-dismissable" style="position: fixed; left: 0px; top: 75px">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
You are impersonating.<br />
<a class="btn" href="{% url 'impersonate-stop' %}">stop</a>
</div>
{% endif %}

{% bootstrap_javascript %}
</body>
</html>
