{% extends 'pagetree/base_pagetree.html' %}
{% load render %}
{% load user_status %}

{% block js %}
{% for block in section.pageblock_set.all %}
{% renderjs block %}
{% endfor %}
{% endblock %}

{% block css %}
<meta name="csrf-token" content="{{csrf_token}}">
{% for block in section.pageblock_set.all %}
{% rendercss block %}
{% endfor %}
{% endblock %}

{% block bodyclass %}module-{{module.slug}}{% endblock %}

{% block bodyid %}section-{{section.id}}{% endblock %}

{% block title %}{{section.label}}{% endblock %}

{% block pagetitle %}{% if section.depth > 2 %}<h1>{{section.label}}</h1>{% endif %}{% endblock %}

{% block navrightextra %}
    {% if request.user.is_superuser %}
        <a href="{{section.get_edit_url}}" class="btn btn-default" style="font-weight: bold">Edit</a>
    {% endif %}
{% endblock %}

{% block topnavbarleftitems %}
    <li class="dropdown active">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Session Menu<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{module.get_absolute_url}}">Introduction </a></li>
            {% for page in module.get_descendants %}
                {% if page.depth <= 3 %}
                <li><a href="{{page.get_absolute_url}}">{{page.label}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block content %}
<div id="content">
    {% if needs_submit and not is_submitted %}
    <form action="." method="post">{% csrf_token %}
    {% else %}
        {% if is_submission_empty %}
        <form action="." method="post">{% csrf_token %}
        {% endif %}
    {% endif %}

    {% for block in section.pageblock_set.all %}

    <div class="pageblock{% if block.css_extra %} {{block.css_extra}}{% endif %}">
        {% if block.label %}<h3>{{block.label}}</h3>{% endif %}
        {% render block %}
    </div>
    {% endfor %}

{% if needs_submit and not request.user.is_anonymous %}
<div class="clearfix"></div>

{% if is_submitted %}
{% if is_submission_empty %}
{% include 'pagetree/pagetree_submit_button.html' %}
{% else %}
{% if allow_redo or user.is_superuser %}
<div class="clearfix"></div>
<form class="pagetree-form-submit-area"
      action="." method="post">{% csrf_token %}
    <input type="hidden" name="action" value="reset" />
    <input type="submit" value="I want to change my answers." class="btn btn-primary" />
{% endif %}{# End allow_redo or user.is_superuser #}
{% endif %}{# End is_submission_empty #}
    {% if messages %}
        {% for message in messages %}
            <div
                 {% if message.tags %}
                 class="alert alert-{{message.tags}} worth-form-validation-error"
                 {% else %}
                 class="alert alert-info worth-form-validation-error"
                 {% endif %}
                 >{{ message }}</div>
        {% endfor %}
    {% endif %}
{% if allow_redo or user.is_superuser %}
{% if is_submission_empty %}
</form>
{% endif %}{# End allow_redo or user.is_superuser #}
{% endif %}{# End is_submission_empty #}
{% else %}{# End is_submitted #}

<div class="clearfix"></div>

{% include 'pagetree/pagetree_submit_button.html' %}

</form>
{% endif %}
{% endif %}

{% if is_submission_empty %}
</form>
{% endif %}

{% include "pagetree/toc.html" %}

</div>
{% endblock %}

{% block content-nav %}
<div class="clearfix"></div>
{% with previous=section.get_previous next_section=section.get_next %}
<ul class="pager">
{% comment %}Do not allow users to back into a previous module{% endcomment %}
{% if previous and section.depth > 1 %}
  <li class="previous">
        <a href="{{previous.get_absolute_url}}" aria-label="Previous Page">&larr; {{previous.label}}</a>
  </li>
{% endif %}

{% comment %}Do not allow users to next into the next module{% endcomment %}
{% if next_section and next_section.depth > 1 %}
    <li class="next">
        <a href="{{next_section.get_absolute_url}}" aria-label="Next Page">{{next_section.label}} &rarr;</a>
    </li>
{% endif %}
</ul>
{% endwith %}
{% endblock %}
