<div class="pagetree-form-submit-area">
    <input type="submit" value="Submit" class="btn btn-primary btn-lg" />

    <div class="alert alert-danger worth-form-validation-error" role="alert"
     {% if not is_submission_empty %}
     style="display: none;"
     {% endif %}>
        <strong>Oops!</strong> Please respond to all questions.
    </div>
    <div class="alert alert-danger worth-form-submit-prompt" role="alert"
     {% if not is_submission_empty %}
     style="display: none;"
     {% endif %}>
        <strong>Oops!</strong> Please click submit to save your response.
    </div>
    {% if messages %}
        {% for message in messages %}
            <div
                 {% if message.tags %}
                 class="alert alert-{{message.tags}} worth-form-validation-error"
                 {% else %}
                 class="alert alert-info worth-form-validation-error"
                 {% endif %}
                 >{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
