{% load markup %}
{% load getresponse %}
{% load avatar %}

<div class="row">
    <div class="col-md-8">
        <ol class="caseanswercontainer" type="A">
            {% for answer in question.answer_set.all %}
                {% if block.rhetorical %}
                    <li class="{{answer.css_extra}}">
                        <label>
                            <input name="question{{question.id}}"
                                   value="{{answer.label}}" type="checkbox">
                            {{answer.label|safe}}
                        </label>
                    </li>
                {% else %}
                    <li class="{{answer.css_extra}}">
                        <label>
                        <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}"
                            value="{{answer.value}}" type="checkbox"
                            {% if response %}disabled="disabled"
                                {% ifanswerin response answer %}
                                    checked="checked"
                                {% else %}{% endifanswerin %}
                            {% endif %} />
                            <span class="caseanswerlabel {% if response %}{% if answer.correct %}correctanswer{% else %}incorrectanswer{% endif %}{% endif %}">
                                {{answer.label|safe}}
                            </span>
                            {% if response %}
                                <span class="caseanswerresult">
                                    {% if answer.correct %}
                                        <span class="correct label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Correct</span>
                                    {% else %}
                                        <span class="incorrect label label-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Incorrect</span>
                                    {% endif %}
                                </span>
                            {% endif %}
                        </label>
                    </li>
                </li>
                {% endif %}
            {% endfor %}
        </ol>
    </div>
    <div class="col-md-4">
        <div class="avatar-block text-center">
            <img src="{% avatar_url user %}">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
