{% load markdownify %}
{% load quizresults %}

<div class="row">
    <div class="col-md-8">
        <div class="casesanswerdisplay">
            {% if block.rhetorical %}
            <a href="#q{{question.id}}" class="moretoggle">Show answer &gt;&gt;</a>
            <div id="q{{question.id}}" class="toggleable" style="display: none">
                <p>
                    {% if question.correct_answer_letter %}
                    <i>The correct answer is {{question.correct_answer_letter}}:</i>
                    {% endif %}
                    {{question.explanation|markdownify}}
                </p>
            </div>
            {% else %}
            <div class="casequestionresult">
                {% is_user_correct request.user question as is_correct %}
                {% if is_correct %}
                <h3><span class="correct label label-success">That's Correct!</span></h3>
                {% else %}
                <h3><span class="incorrect label label-danger">That's Incorrect.</span></h3>
                {% endif %}
            </div>
            <div class="casequestionexplanation">{{question.explanation|markdownify}}</div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
