{% load markup %}
{% load avatar %}

{% if 'likert' in question.quiz.pageblock.css_extra or 'likert' in question.css_extra %}
<div class="row">
    <div class="col-md-12">
        {% include 'quizblock/likert.html' %}
    </div>
</div>
{% else %}

<div class="row">
    <div class="col-md-8">
        {% spaceless %}
        <ol class="caseanswercontainer" type="A">
            {% for answer in question.answer_set.all %}
                {% if block.rhetorical %}
                    <li class="{{answer.css_extra}}">
                        <label>
                            <input name="question{{question.id}}" value="{{answer.label}}"
                                   type="radio">
                            {{answer.label|safe}}
                        </label>
                    </li>
                {% else %}
                    <li class="{{answer.css_extra}} {% if response %}{% ifequal response.value answer.value %}checked{% else %}unchecked{% endifequal %}{% endif %}">
                        <label>
                            <input name="pageblock-{{block.pageblock.id}}-question{{question.id}}"
                                value="{{answer.value}}" type="radio"
                                {% if response %}disabled="disabled"
                                    {% ifequal response.value answer.value %}checked="checked"{% endifequal %}
                                   {% endif %}> 
                             
                            <span class="caseanswerlabel {% if response %}{% if answer.correct %}correctanswer{% else %}incorrectanswer{% endif %}{% endif %}">
                                {{answer.label|safe}}
                            </span>      
                        </label>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endspaceless %}
        <div class="clearfix"></div>
        
        {% if response %}
            <div class="caseanswerexplanation">
                {% for answer in question.answer_set.all %}
                    {% ifequal response.value answer.value %}
                    {{answer.explanation|safe}}
                    {% endifequal %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="avatar-block"">
            <img src="{% avatar_url user %}">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endif %}
