<script src="{{STATIC_URL}}js/lib/jquery.js"></script>
<script src="{{STATIC_URL}}js/lib/ember-template-compiler.js"></script>

<!-- When debugging / developing, inlude ember.debug.js here instead
     of ember.min.js:
       http://emberjs.com/builds/#/release

     cd media/js/lib
     wget http://builds.emberjs.com/release/ember.debug.js
  -->
<script src="{{STATIC_URL}}js/lib/ember.min.js"></script>
<script src="{{STATIC_URL}}js/lib/ember-data.min.js"></script>

<!-- The SSNM Ember application -->
<script src="{{STATIC_URL}}js/src/ssnm/application.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/adapters/application.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/router.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/routes/application.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/models/supporter.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/controllers/supporter.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/controllers/supporters.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/controllers/edit-supporter.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/views/modal.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/components/radio-button.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/components/modal-dialog.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/components/supporter-box.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/helpers/influence-color-class.js"></script>
<script src="{{STATIC_URL}}js/src/ssnm/helpers/radio-button.js"></script>
