{% extends 'base.html' %}

{% load avatar %}

{% block js %}

{% comment %}

The 'verbatim' tag is necessary here to prevent Django from trying to
parse handlebars.js tags.

The SSNM Handlebars templates are all in this file because Ember doesn't
have a mechanism for loading handlebars templates by default -- that's
provided by ember-cli, which I've chosen not to use in worth2 because:

- ember-cli adds the annoying dependency of node and npm in the
  development phase. The dependency of node/npm also leaks into the
  deployment phase unless you commit your compiled Ember application into
  your source repo.

  Committing the compiled app into git is an alright solution, but that
  makes it difficult for designers (and really anyone else) to collaborate
  on the project, because it's an extra step you need to do each time you
  commit, even for CSS changes. It also makes the git history ugly.

- ember-cli apps seem inflexible with more traditional methods: there's no
  straightforward way to put the Ember application into an existing Django
  template, which may already have Javascript code that needs to run.

Of course ember-cli is useful though, and it's obviously the direction
that the Ember project is headed. Maybe I'll figure out a way to
configure it to work how we want. It's not essential to me that each
source asset is consolidated and minified into single files on a minimal
HTML template - there's probably a way of avoiding that step.

{% endcomment %}
{% verbatim %}
<script type="text/x-handlebars" id="components/modal-dialog">
    {{#view 'modal'}}
    <div class="ssnm-modal">
        <div class="ssnm-modal-dialog">
            <div class="ssnm-modal-content">
                {{yield}}
            </div>
        </div>
    </div>
    {{/view}}
</script>

<script type="text/x-handlebars" id="components/supporter-box">
    <div class="ssnm-supporter-box">
        <div class="pull-left">
            {% endverbatim %}
            <img class="img-thumbnail" src="{{STATIC_URL}}img/icon-ssnm.png" width="120" />
            {% verbatim %}
        </div>
        <div class="pull-right text-right">
            <h3>{{supporter.name}}</h3>
            <div {{bind-attr class=(influenceColorClass supporter.influence)}}>
                {{{supporter.influenceGlyphicon}}}
                {{supporter.displayInfluence}}
            </div>
            {{#if supporter.providesEmotionalSupport}}
            <div style="color: magenta;">
                <span class="glyphicon glyphicon-heart"
                      aria-hidden="true"></span> Emotional Support</div>
            {{/if}}
            {{#if supporter.providesPracticalSupport}}
            <div style="color: blue;">
                <span class="glyphicon glyphicon-cog"
                      aria-hidden="true"></span> Practical Support</div>
            {{/if}}
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/x-handlebars" data-template-name="application">
    <div class="worth-ssnm-container">
        <div class="worth-ssnm-box worth-ssnm-box-very-close">
            <div class="ssnm-title">My Social Support Network</div>
            <div class="ssnm-box-title">Very Close to Me</div>
            <div class="worth-ssnm-my-avatar-box">
                <div class="avatar-block">
                    {% endverbatim %}
                   <img class="img-thumbnail" src="{% avatar_url user %}" width="120" >

                    {% verbatim %}
                </div>
                <button type="button" class="btn btn-primary" name="add-people"
                        {{action "addSupporter"}}>
                    Add People
                </button>
            </div>

            {{#each supporter in controller.veryCloseSupporters}}
                {{supporter-box supporter=supporter
                clickedSupporter="editSupporter"}}
            {{/each}}
        </div>

        <div class="worth-ssnm-box worth-ssnm-box-close">
            <div class="ssnm-box-title">Close to Me</div>
            {{#each supporter in controller.closeSupporters}}
                {{supporter-box supporter=supporter
                clickedSupporter="editSupporter"}}
            {{/each}}
        </div>

        <div class="worth-ssnm-box worth-ssnm-box-not-close">
            <div class="ssnm-box-title">Not Close to Me</div>
            {{#each supporter in controller.notCloseSupporters}}
                {{supporter-box supporter=supporter
                clickedSupporter="editSupporter"}}
            {{/each}}
        </div>
    </div>

    {{outlet 'modal'}}
</script>

<script type="text/x-handlebars" data-template-name="edit-supporter-modal-delete-button">
    {{#if isEditing}}
    <button {{action 'deleteSupporter'}} class="btn btn-danger pull-left">
        Delete
    </button>
    {{/if}}
</script>

<script type="text/x-handlebars" data-template-name="max-supporters-modal">
    {{#modal-dialog action='closeModal'}}
    <div class="ssnm-modal-header">
        <h4>Too many people</h4>
    </div>
    <div class="ssnm-modal-body">
        <p class="ssnm-modal-desc">
            Sorry, this activity only works with at most <strong>5</strong>
            people in your network. You can delete someone if you'd like
            to add a new person.
        </p>
    </div>
    <div class="ssnm-modal-footer">
        <button {{action 'closeModal'}} class="btn btn-default">
            Close
        </button>
    </div>
    {{/modal-dialog}}
</script>

<script type="text/x-handlebars" data-template-name="edit-supporter-modal-1">
    {{#modal-dialog action='closeModal'}}
    <div class="ssnm-modal-header">
        <h4>{{title}}</h4>
    </div>
    <div class="ssnm-modal-body">
        <p class="ssnm-modal-desc">
            Part 1 of 4: Who Is This?
        </p>
        <form>
            <label for="ssnm-name" class="control-label">Name</label>
            {{input type="text" class="form-control" id="ssnm-name"
            value=name}}
        </form>
    </div>
    <div class="ssnm-modal-footer">
        {{partial 'edit-supporter-modal-delete-button'}}
        <button {{action 'closeModal'}} class="btn btn-default">
            Cancel
        </button>
        <button {{action 'openModal' 'edit-supporter-modal-2'}}
                {{bind-attr disabled=hasBlankName}}
                class="btn btn-primary">
            Next
        </button>
    </div>
    {{/modal-dialog}}
</script>

<script type="text/x-handlebars" data-template-name="edit-supporter-modal-2">
    {{#modal-dialog action='closeModal'}}
    <div class="ssnm-modal-header">
        <h4>{{title}}</h4>
    </div>
    <div class="ssnm-modal-body">
        <p class="ssnm-modal-desc">
            Part 2 of 4: Getting Close
        </p>
        <p>
            How close are you to {{name}}? For example, can you rely on
            him/her?
        </p>
        <form>
            <div class="radio">
                <label>
                    {{radio-button name="closeness" value="VC"
                    checked=closeness}} Very Close
                </label>
            </div>
            <div class="radio">
                <label>
                    {{radio-button name="closeness" value="C"
                    checked=closeness}} Close
                </label>
            </div>
            <div class="radio">
                <label>
                    {{radio-button name="closeness" value="NC"
                    checked=closeness}} Not Close
                </label>
            </div>
        </form>
    </div>
    <div class="ssnm-modal-footer">
        <button {{action 'closeModal'}} class="btn btn-default">
            Cancel
        </button>
        <button {{action 'openModal' 'edit-supporter-modal-3'}}
                {{bind-attr disabled=hasBlankCloseness}}
                class="btn btn-primary">
            Next
        </button>
    </div>
    {{/modal-dialog}}
</script>

<script type="text/x-handlebars" data-template-name="edit-supporter-modal-3">
    {{#modal-dialog action='closeModal'}}
    <div class="ssnm-modal-header">
        <h4>{{title}}</h4>
    </div>
    <div class="ssnm-modal-body">
        <p class="ssnm-modal-desc">
            Part 3 of 4: Influence
        </p>
        <p>
            How does {{name}} shape your life?
        </p>
        <form>
            <div class="radio">
                <label class="ssnm-color-positive">
                    {{radio-button value="P" checked=influence}}
                    Positive <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </label>
            </div>
            <div class="radio">
                <label class="ssnm-color-mostly-positive">
                    {{radio-button value="MP" checked=influence}}
                    Mostly Positive <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                </label>
            </div>
            <div class="radio">
                <label class="ssnm-color-mostly-negative">
                    {{radio-button value="MN" checked=influence}}
                    Mostly Negative <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 
                </label>
            </div>
            <div class="radio">
                <label class="ssnm-color-negative">
                    {{radio-button value="N" checked=influence}}
                   Negative <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
                </label>
            </div>
        </form>
    </div>
    <div class="ssnm-modal-footer">
        <button {{action 'closeModal'}} class="btn btn-default">
            Cancel
        </button>
        <button {{action 'openModal' 'edit-supporter-modal-4'}}
                {{bind-attr disabled=hasBlankInfluence}}
                class="btn btn-primary">
            Next
        </button>
    </div>
    {{/modal-dialog}}
</script>

<script type="text/x-handlebars" data-template-name="edit-supporter-modal-4">
    {{#modal-dialog action='closeModal'}}
    <div class="ssnm-modal-header">
        <h4>{{title}}</h4>
    </div>
    <div class="ssnm-modal-body">
        <p class="ssnm-modal-desc">
            Part 4 of 4: Support
        </p>
        <p>
            What kind of support does {{name}} provide?
        </p>
        <form>
            <div class="checkbox">
                <label style="color: magenta;">
                    {{input type="checkbox" checked=providesEmotionalSupport}}
                    Emotional
                    <span class="glyphicon glyphicon-heart"
                          aria-hidden="true"></span>
                </label>
            </div>
            <div class="checkbox">
                <label style="color: blue;">
                    {{input type="checkbox" checked=providesPracticalSupport}}
                    Practical
                    <span class="glyphicon glyphicon-cog"
                          aria-hidden="true"></span>
                </label>
            </div>
        </form>
    </div>
    <div class="ssnm-modal-footer">
        <button {{action 'closeModal'}} class="btn btn-default">
            Cancel
        </button>
        <button {{action 'saveEditedSupporter'}} class="btn btn-primary">
            Done
        </button>
    </div>
    {{/modal-dialog}}
</script>
{% endverbatim %}

{% endblock %}

{% block content %}
{% if request.user.is_anonymous %}
You're not signed in.
{% else %}
<div id="worth-ssnm-ember-app"></div>
{% endif %}
{% endblock %}
